/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Page background */
body {
    height: 100vh;
    background-image: linear-gradient(to bottom, url('netflix-background.png'), black;
    background-size: cover;
}